# ignore athena-specific files
.asetup.save
CMakeLists.txt
repofile

# ignore things that are built by the setup scripts
/run/
/packages/
/build/

# this stuff is CMT stuff for r20.7, it will be nice to remove it
/WorkArea/
genConf/
*-*-gcc*
/InstallArea/

# ignore all but a few CMT files
*/cmt/*
!*/cmt/requirements
!*/cmt/version.cmt

# commit messages
*commit.txt


